@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@using USDA_ARS.Umbraco.Extensions.Models.Aris
@model IPublishedContent
@{
    IPublishedContent currentNode = Model;
    string modeCode = Model.GetPropertyValue<string>("modeCode");

    if (false == string.IsNullOrWhiteSpace(Request.QueryString["modeCode"]))
    {
        modeCode = Request.QueryString.Get("modeCode");

        currentNode = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.GetNodeByModeCode(modeCode, false);
    }

    List<PeopleInfo> peopleFullList = USDA_ARS.Umbraco.Extensions.Helpers.Aris.People.GetPeopleByNationalProgram(modeCode);
}






<script language="javascript">
<!--
window.name = 'nps2000';
var remote = null;
function rs(n,u,w,h) {
remote = window.open(u, n, 'width=' + w + ',height=' + h +',refresh=yes,resizable=yes,scrollbars=yes');
if (remote != null) {
if (remote.opener == null)
remote.opener = self;
window.name = 'nps2000';
remote.location.href = u;
}
}
//-->
</script>



<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="This table displays location and people info">
    <tbody>
        <tr>
            <td valign="top">
                <!-- modecode description, address, and mission statement -->




                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>

                                <!-- People list begin -->
                                <!-- _locStaff start -->



                                <script language="JavaScript">function DisplayEmail(username, domain){document.write(username + "&#64;" + domain);}</script>
                                <table cellspacing="0" cellpadding="3" border="0">
                                    <tbody>
                                        <tr>
                                            <td><strong>People:</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" cellspacing="0" cellpadding="3" border="0">

                                    <tbody>
                                                                                @if (peopleFullList != null && peopleFullList.Any())
                                        {
                                             peopleFullList = peopleFullList.OrderBy(p => p.LastName).ThenBy(p => p.FirstName).ToList();

                                            foreach (PeopleInfo person in peopleFullList)
                                            {
                                                <tr>
                                                    <td valign="top">
                                                        <a href="/people-locations/person?person-id=@(person.PersonId)" class="listItems" id="anch_44">
                                                            @(person.LastName),
                                                            @(person.FirstName)
                                                            @Html.Raw(false == string.IsNullOrWhiteSpace(person.CommonName) ? " <em>" + person.CommonName + "</em>" : "")
                                                        </a>
                                                        <br />
                                                        @USDA_ARS.Umbraco.Extensions.Utilities.Strings.FormatPhoneNumber(person.PhoneAreaCode + person.Phone)
                                                        @(false == string.IsNullOrEmpty(person.PhoneExt) ? " ext. " + person.PhoneExt : "")
                                                        <br />
                                                        @if (person.Email != null && person.Email.Split('@').Length == 2)
                                                        {
                                                            <script language="javascript">DisplayEmail('@(person.Email.Split('@')[0])', '@(person.Email.Split('@')[1])');</script>
                                                        }
                                                        <br />
                                                        <font size="-2">@(person.TitleWorking)</font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="/images/content-divider.gif"></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                                <!-- _locStaff end -->
                                <!-- People list end -->

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
