@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@{ 
    IPublishedContent siteSettings = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.SiteSettings();

    ArchetypeModel socialLinks = siteSettings.GetPropertyValue<ArchetypeModel>("socialLinks");
}


@if (socialLinks != null && socialLinks.Any())
{
    foreach (var socialLink in socialLinks)
    {
        if (socialLink.HasValue("socialHtmlOverride"))
        {
            @Html.Raw(socialLink.GetValue("socialHtmlOverride"))
        }
        else
        {
            if (socialLink ! = null)
            {
                Link navLink = socialLink.GetValue<MultiUrls>("socialLink").FirstOrDefault();
            
                if (navLink != null)
                <a href="@navLink.Url">
                    <img src="@socialLink.GetValue("socialIcon")" title="@socialLink.GetValue("socialAltText")" alt="@socialLink.GetValue("socialAltText")" />
                </a>
            }
        }
    }
}