@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;

    ArchetypeModel popularTopics = currentPage.GetPropertyValue<ArchetypeModel>("popularTopics");
    ArchetypeModel carouselSlides = currentPage.GetPropertyValue<ArchetypeModel>("carouselSlides");
    ArchetypeModel quickLinks = currentPage.GetPropertyValue<ArchetypeModel>("quickLinks");

    string middleArea = currentPage.GetPropertyValue<string>("middleArea");
}
<div id="bodyContent">


    <!-- top content -->
    <div id="topContent">
        <div id="TopicsTips">
            <!-- right top content -->

            <div id="popularTopics">
                <a name="popular" class="section508">Popular Topics Content</a>
                <h1>Popular Topics</h1>

                @if (popularTopics != null && popularTopics.Any())
                {
                    <ul>
                        @foreach (var topic in popularTopics)
                        {
                            string navLinkUrl = "#";
                            if (topic.HasValue("link"))
                            {
                                Link navLink = topic.GetValue<MultiUrls>("link").FirstOrDefault();

                                navLinkUrl = navLink.Url;
                            }
                            <li>
                                <a href="@navLinkUrl">@Html.Raw(topic.GetValue("label"))</a>
                            </li>
                        }
                    </ul>
                }

                <a href="top" class="section508">Back to Top of Page</a>
            </div>	<!-- popular topcis -->
            <!-- Stay Connected -->
            <div id="socialmedia">
                <a name="social" class="section508">Social Media Links </a>

                <h2>Stay Connected:</h2>
                @Html.Partial("~/Views/Partials/Modules/SocialLinks.cshtml")

                <!-- sign up email box -->
                <form action="/elists/elists.htm" method="post">
                    <input name="emailAddr" type="text" value="Sign up for ARS News updates"
                           size="28" onfocus="this.value=''" />
                    <input name="listname" type="hidden" value="arsnews" />
                    <input name="action" type="hidden" value="Subscribe" />
                    <input name="commit" type="submit" value="Go" />
                </form>

                <a href="top" class="section508">Back to Top of Page</a>
            </div>	<!-- Stay Connected -->
        </div>	<!-- right top content -->
        <!-- photo carousel -->



        <script type="text/javascript">
            $(document).ready(function () {
                $('#slideshow').cycle(
                    {
                        fx: 'fade',
                        speed: 500, 			// speed of the transition (any valid fx speed value)
                        timeout: 6000,			// milliseconds between slide transitions
                        prev: '#prevPhoto',
                        pause: '#pausePhoto',
                        next: '#nextPhoto',
                        after: onAfter,
                        before: onBefore
                    }
                );

                $('#pausePhoto').click(function () {
                    $('#slideshow').cycle('pause');
                }
                );
            }
            );

            function onBefore(curr, next, opts) {
                var counter = (opts.currSlide + 1) + ' / ' + opts.slideCount;
                $('#carouselCounter').html(counter);



                // get the photo carousel caption from the image ALT tag


                $('#carouselCaption').html(this.children[0].alt);
            }

            function onAfter(curr, next, opts) {
                var counter = (opts.currSlide + 1) + ' / ' + opts.slideCount;
                $('#carouselCounter').html(counter);



            }
        </script>

        <a name="photos" class="section508">Photo Carousel Links</a>

        <!--Loading display while images load-->

        <div id="carousel">
            <!--Slides-->

            <div id="slideshow" style="width:520px;height:320px;float:left;">


                @foreach (var slide in carouselSlides)
                {
                    <a href="@slide.GetValue("slideUrl")" title="@slide.GetValue("slideText")">
                        <img src="@slide.GetValue("slideImage")" class="carouselPhoto" alt="@slide.GetValue("slideAltText")" />
                    </a>
                }

            </div>


            <div id="carouselCaption" style="width:115px;height:240px;float:right;">
                phone caption
            </div>


            <div id="carouselNavigation" style="width:85px;float:right;">
                <a href="#" id="prevPhoto"><img src="/images/redesign/prev.png" alt="back"></a>
                <a href="#" id="pausePhoto"><img src="/images/redesign/pause.png" alt="pause"></a>
                <a href="#" id="nextPhoto"><img src="/images/redesign/next.png" alt="forward"></a>

                <div id="carouselCounter"></div>
            </div>
        </div>


    </div>	<!-- top content end -->
    <!-- middle content -->
    <!--[if lt IE 9]>
        <div style="position: relative; bottom:-33px; z-index:1000;">
            <img src="/images/redesign/rounded-top.png" alt="spacer">
        </div>
    <![endif]-->

    <div id="midContent">
        <a name="main" class="section508">Main Content</a>

        <!-- middle left (tabs) -->
        <div id="rotateContent">

            <div id="AgencyNewsWrapper">
                <!-- News/Resources/Blogs tab's labels on the left middle -->
                <div id="AgencyNewsTop">
                    <ul>
                        <li id="AgencyNewsTop_Latest" class="toplink" onMouseOver="displaySelected('Latest');">
                            News
                        </li>
                        <li id="AgencyNewsTop_Topic" class="toplink" onMouseOver="displaySelected('Topic');">
                            Resources
                        </li>
                        <li id="AgencyNewsTop_Blog" class="toplink" onMouseOver="displaySelected('Blog');">
                            Latest Blogs
                        </li>
                    </ul>
                </div>
                <!-- end of AgencyNewsTop -->
                <!-- start of AgencyNewsDetail -->
                <div id="AgencyNewsDetail">
                    <!-- news tab -->
                    <div class="AbsoluteHiddenBodyText" id="AgencyNewsDetail_Latest">
                        <h1>News</h1>



                        <ul>

                            <li>
                                <a href="/is/pr/2015/151029.htm">
                                    Ag Utilization Centers Celebrate 75 Years of Innovation
                                </a>
                            </li>

                            <li>
                                <a href="/is/pr/2015/151021.htm">
                                    ACS Names Beltsville Agricultural Research Center as National Historic Chemical Landmark
                                </a>
                            </li>

                            <li>
                                <a href="/is/pr/2015/151020.htm">
                                    USDA Transfers 3,800 Acres in Brooksville to Florida A&M University
                                </a>
                            </li>

                            <li>
                                <a href="/is/pr/2015/151002.htm">
                                    Toolset Helps Identify Key Water-Conservation Options
                                </a>
                            </li>

                            <li>
                                <a href="/is/pr/2015/150929.htm">
                                    Food Toxin Detector Incorporates Camera
                                </a>
                            </li>

                            <li>
                                <a href="/is/pr/2015/150923.htm">
                                    New Disease Resistant Pea Now Available
                                </a>
                            </li>

                        </ul>

                        <p class="more">
                            <a href="/is/pr">>>> More...</a>
                        </p>
                    </div>
                    <!-- news tab end -->
                    <!-- resources tab -->
                    <div class="AbsoluteHiddenBodyText" id="AgencyNewsDetail_Topic" style="visibility:hidden;">
                        <h1>Resources</h1>
                        <!-- RESOURCES SECTION -- CHANGEABLE INFORMATION STARTS HERE  -->


                        <ul>

                            <li><a href="/services/software/software.htm">Scientific Software / Models</a></li>

                            <li><a href="/services/TekTran.htm">Scientific Manuscripts</a></li>

                            <li><a href="/business/docs.htm?docid=769">Research Success Stories</a></li>

                            <li><a href="/services/docs.htm?docid=1279">Publications</a></li>

                            <li><a href="/mapsandtools">Maps and Tools</a></li>

                            <li><a href="/News/docs.htm?docid=128">Factsheets</a></li>

                            <li><a href="/services/docs.htm?docid=1328">Databases and Datasets </a></li>

                            <li><a href="http://iapreview.ars.usda.gov/News/docs.htm?docid=23559">Image Gallery </a></li>

                        </ul>
                    </div>
                    <!-- resources tab end -->
                    <!-- latest blogs tab -->
                    <div class="AbsoluteHiddenBodyText" id="AgencyNewsDetail_Blog" style="visibility:hidden;">
                        <h1>Blogs</h1>





                        <ul>

                            <li>
                                <a href="http://blogs.usda.gov/2015/11/03/helping-farmers-in-pakistan-and-the-u-s/">Helping Farmers in Pakistan and the U.S.</a>
                            </li>

                            <li>
                                <a href="http://blogs.usda.gov/2015/10/27/smart-phones-the-latest-tool-for-sustainable-farming/">Smart Phones: The Latest Tool for Sustainable Farming</a>
                            </li>

                            <li>
                                <a href="http://blogs.usda.gov/2015/10/14/new-toolset-helps-identify-key-water-conservation-options/">New Toolset Helps Identify Key Water Conservation Options</a>
                            </li>

                            <li>
                                <a href="http://blogs.usda.gov/2015/10/08/land-grant-universities-make-nfl-natural-turf-grass-better-and-safer/">Land-Grant Universities Make NFL Natural Turf Grass Better and Safer</a>
                            </li>

                            <li>
                                <a href="http://blogs.usda.gov/2015/10/06/a-diet-to-help-conserve-bees-when-food-is-scarce/">A Diet to Help Conserve Bees When Food Is Scarce</a>
                            </li>

                            <li>
                                <a href="http://blogs.usda.gov/2015/10/01/usda-crep-buffers-clean-water-and-help-restore-chesapeake-bay/">USDA CREP Buffers Clean Water and Help Restore Chesapeake Bay</a>
                            </li>

                            <li>
                                <a href="http://blogs.usda.gov/2015/09/29/a-new-online-tool-to-help-growers-select-the-right-cover-crop/">A New Online Tool to Help Growers Select the Right Cover Crop</a>
                            </li>

                            <li>
                                <a href="http://blogs.usda.gov/2015/09/23/southern-plains-climate-hub-helps-land-managers-build-resilience-to-climate-variability/">Southern Plains Climate Hub Helps Land Managers Build Resilience to Climate Variability</a>
                            </li>

                        </ul>

                        <p class="more">
                            <a href="http://blogs.usda.gov">>>> More...</a>
                        </p>
                    </div>	<!-- latest blogs tab end -->

                </div>	<!-- end of AgencyNewsDetail -->

            </div>	<!-- end of AgencyNewsWrapper -->

        </div>	<!-- middle left (tabs)  end -->



        <div id="centerContent">
            <!-- display URLs of subpages start -->
            <!--  display URLs of subpages end -->
            <!-- document content start -->

            @Html.Raw(middleArea)
        </div>



        <div id="spotlightContent">
            <h1>Quick Links</h1>

            @if (quickLinks != null && quickLinks.Any())
            {
                foreach (var quickLink in quickLinks)
                {
                    Link navLink = quickLink.GetValue<MultiUrls>("link").FirstOrDefault();

                    <div>
                        <img src="@quickLink.GetValue("icon")"
                             alt="@quickLink.GetValue("label")" />
                        <p>
                            <a href="@quickLink.GetValue("link")">@quickLink.GetValue("label")</a>
                        </p>
                    </div>
                }
            }
        </div>
        <!--[if lt IE 9]>
            <div style="position: relative; top: -25px; z-index:1000;" >
                <img src="/images/redesign/rounded-bottom.png" alt="spacer">
            </div>
        <![endif]-->
    </div>
    <!-- middle content end -->
    <!-- bottom content -->
    <!--[if lt IE 9]>
        <div style="margin:-24px auto;">
            <img src="/images/redesign/rounded-topTEAL.png" alt="spacer">
        </div>
    <![endif]-->
    <div id="bottomContent">
        <a name="areas" href="top" class="section508">Research Areas & Locations Content | Click to go Back to Top</a>

        <h1>Key ARS Offices and Locations</h1>

        <a name="areas" href="top" class="section508">Research Areas & Locations Content | Click to go Back to Top</a>

        <!-- bottom content left -->
        <div id="bottomContentLeft">
            @Html.Partial("~/Views/Partials/Modules/MainOfficeList.cshtml")
        </div>


        <!-- bottom content right -->
        <div id="bottomContentRight">
            @Html.Partial("~/Views/Partials/Modules/ResearchLocationsList.cshtml")
        </div>


    </div>
