@using USDA_ARS.Umbraco.Extensions.Helpers
@using USDA_ARS.Umbraco.Extensions.Helpers.Aris
@using USDA_ARS.Umbraco.Extensions.Models.Aris
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;
    string modeCode = currentPage.GetPropertyValue<string>("modeCode");

    NationalProgramLocation programLocation = NationalPrograms.GetProgramLocationByModeCode(modeCode);
    PeopleInfo locationLeader = null;

    IPublishedContent peopleListNationalProgram = Umbraco.TypedContent(9127); // people list - national program
    IPublishedContent nationalProgramsMain = Nodes.NationProgramsMain();

    if (programLocation != null)
    {
        locationLeader = People.GetPersonByEmployeeId(programLocation.RlEmpId);
    }
}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

    @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

    <div id="pageContent">


        <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="This table displays location and people info">
            <tbody>
                <tr>
                    <td valign="top">
                        <!-- modecode description, address, and mission statement -->
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td valign="top">

                                        <!-- modecode description -->

                                        <strong>
                                            @if (false == string.IsNullOrEmpty(programLocation.ModeCode2Desc))
                                            {
                                                @(programLocation.ModeCode2Desc)
                                            }
                                            else
                                            {
                                                @(programLocation.ModeCode1Desc)
                                            }
                                        </strong>

                                        <!-- address and mission statement begin -->
                                        <!-- _locBlurb start -->

                                        <font size="2">

                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" summary="This table displays information about this location">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @if (locationLeader != null)
                                                            {
                                                                <a href="/people-locations/person?person-id=@(locationLeader.PersonId)" id="anch_51">
                                                                    @(locationLeader.LastName), @(locationLeader.FirstName)

                                                                    @if (false == string.IsNullOrEmpty(locationLeader.CommonName))
                                                                    {
                                                                        @Html.Raw(" - <em>" + locationLeader.CommonName + "</em>")
                                                                    }
                                                                </a><br />
                                                                @(locationLeader.TitleWorking)<br />
                                                            }
                                                            else
                                                            {
                                                                <em>Person not found: EmpId = @programLocation.RlEmpId</em><br />
                                                            }
                                                            <a href="mailto:@(programLocation.Email)?Subject=From ARS website" target="_blank" id="anch_52">@(programLocation.Email)</a>
                                                            <br />
                                                            @(programLocation.Phone)<br />
                                                            @(programLocation.Address1)<br />
                                                            @(programLocation.Address2)<br />
                                                            @(programLocation.City) @(programLocation.StateCode) @(programLocation.PostalCode)
                                                            <p>
                                                                <!-- MapQuest info here.  query_string= modecode=@(modeCode)-->
                                                            </p><p>


                                                                <strong>Mission:</strong><br />
                                                                @(programLocation.MissionStatement)

                                                            </p><p></p>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <!-- _locBlurb end -->
                                            <!-- address and mission statement end -->
                                        </font>
                                    </td>

                                    <td valign="top">

                                        <!-- National Programs hyperlinks begin -->
                                        <!-- begin org tree-->
                                    </td>
                                    <td valign="top" width="188">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" colspan="4" width="188">
                                                        <font face="arial" size="-2">
                                                            @if (nationalProgramsMain != null && nationalProgramsMain.Id != currentPage.Id)
                                                            {
                                                                <a href="@nationalProgramsMain.Url" class="projectNav">National Programs</a>
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("National Programs")
                                                            }
                                                            <br />
                                                        </font>
                                                    </td>
                                                </tr>
                                                @if (nationalProgramsMain != null && nationalProgramsMain.Id != currentPage.Id)
                                                {
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td valign="top" colspan="3" width="188">
                                                            <font face="arial" size="-2">
                                                                @(programLocation.ModeCode2Desc)<br />
                                                            </font>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        @if (nationalProgramsMain != null && nationalProgramsMain.Id == currentPage.Id)
                                        {
                                            <table width="188" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellpadding="4">
                                                                <tbody>
                                                                    @foreach (IPublishedContent npItem in nationalProgramsMain.Children)
                                                                    {
                                                                        <tr>
                                                                            <td><a href="@(peopleListNationalProgram.Url + "?modeCode=" + npItem.GetPropertyValue<string>("modeCode"))" class="projectNav">@(npItem.Name)</a></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }

                                    </td>
                                    <!-- end org tree-->
                                    <!-- National Programs hyperlinks begin -->

                                </tr>
                            </tbody>
                        </table>

                        @if (nationalProgramsMain != null && nationalProgramsMain.Id == currentPage.Id)
                        {
                            MultiUrls relatedLinkList = currentPage.GetPropertyValue<MultiUrls>("relatedLinks");

                            if (relatedLinkList != null && relatedLinkList.Any())
                            {
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <font face="verdana,arial" size="-1" color="#000000">
                                                    <b>
                                                        Related Information Links:
                                                    </b>
                                                </font><br />
                                                <div align="left">
                                                    <table width="100%" cellspacing="0" cellpadding="3">
                                                        <tbody>
                                                            @foreach (var linkItem in relatedLinkList)
                                                            {
                                                                <tr>
                                                                    <td valign="top"><img src="/images/incme/bullet.gif" border="0" alt="item"></td>
                                                                    <td valign="top" align="left">
                                                                        <font face="arial,helvetica" size="-2">
                                                                            <a href="@(linkItem.Url)" target="@(linkItem.Target)">@linkItem.Name</a>
                                                                        </font>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        }
                        else
                        {
                        <!-- National Programs releated links begin -->

                            <table cellspacing="0" cellpadding="3" colspan="2" border="0">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <b>National Programs</b>
                                        </td>
                                    </tr>
                                    @if (currentPage.Children != null)
                                    {
                                        foreach (IPublishedContent program in currentPage.Children)
                                        {
                                            <tr>
                                                <td valign="top"><img src="/images/incme/bullet.gif" border="0" alt="item"></td>
                                                <td valign="top" align="left" background="/incme/images/spacer.gif">
                                                    <a href="@(program.Url)" id="anch_54">@(program.Name)</a> (NP #@(program.GetPropertyValue<string>("npCode")))
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <br />

                        <!-- National Programs releated links end -->
                        <!-- Patents and Patent Applications begin -->
                        <!-- Patents and Patent Applications end -->


                            <table border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <!-- People list begin -->

                                            <a href="/people-locations/people-list-national-program/?modeCode=02-04-00-00" title="Staff Listing" id="anch_57"><strong>Staff Listing</strong></a>

                                            <!-- People list end -->


                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        }

                        <!-- spotlights begin -->
                        @*<table border="0">
                                <!-- document content start -->

                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <p>&nbsp;</p>
                                            <table style="HEIGHT: 195px; WIDTH: 195px" cellspacing="0" cellpadding="2" width="195" align="center" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="7"><img title="Spotlights header image" alt="Spotlights header image" src="/images/content_head_spotlight_ap.gif"></td>
                                                    </tr><!--- This is the first row of images (limit 2 columns for images) --->
                                                    <tr>
                                                        <td><img alt=" " src="/images/spacer.gif" width="1" height="1"></td><!--- spacer image is needed ---><!--- image and text display --->
                                                        <td valign="top"><img border="0" hspace="0" alt="" src="/images/docs/16108_16302/nfsq1web.jpg" width="80" height="70"></td>
                                                        <td class="BodyTextBlackSmall" valign="top"><a href="/sp2UserFiles/Place/00000000/NP%20107%20Action%20Plan%202014-2019%20final.pdf" id="anch_58">NP 107 Action Plan</a><br />Food Choices for Health</td><!--- spacer image is needed ---><!--- image and text display ---<TD vAlign=top><IMG border=0 hspace=0 alt="" src="/images/docs/16108_16302/nfsq2web.jpg" width=80 height=70><A href="/sp2UserFiles/Program/108/2006-2010ActionPlanFinal108.pdf"></A></TD> <TD class=BodyTextBlackSmall vAlign=top> <P><A href="/sp2UserFiles/Place/00000000/NP108%202011-2015%20Action%20Plan%20for%20web.pdf">NP 108<br />Action Plan</A>Safe and Secure Food Supply &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </P></TD></TR> <TR> <TD colSpan=7><IMG alt=" " src="/images/content-divider.gif"></TD><!--- divider line --->
                                                    </tr><!--- This is the second row of images (limit 2 columns for images) --->
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td><img alt="Petri Dishes" src="/images/docs/16108_16302/Petri%20Dish.jpg">&nbsp; </td>
                                                        <td valign="top">
                                                            <p><a href="/SP2UserFiles/Place/00000000/2016-2020 NP 108 Action Plan- Revised-final1.pdf" id="anch_59">NP 108 Action Plan</a><br />Safe and Secure Food Supply</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><img alt=" " src="/images/spacer.gif" width="1" height="1"></td><!--- spacer image is needed ---><!--- image and text display --->
                                                        <td valign="top"><img border="0" hspace="0" alt="" src="/images/docs/16108_16302/nfsq3web.jpg" width="80" height="70"><a href="/research/programs/programs.htm?np_code=306&amp;docid=374" id="anch_60"></a></td>
                                                        <td class="BodyTextBlackSmall" valign="top"><a href="/SP2UserFiles/Place/00000000/NPS/NFSQ/NP 306 Action Plan 2015-2019.pdf" id="anch_61">NP 306Action Plan</a><br />Innovative Technologies to Expand Market Opportunities for U.S. Agriculture&nbsp;<br /></td><!--- spacer image is needed ---><!--- image and text display --->
                                                        <td valign="top"><a href="/" id="anch_62"></a></td>
                                                        <td class="BodyTextBlackSmall" valign="top">
                                                            <p>&nbsp;</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>*@
                        <!-- spotlights end -->
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>