@using USDA_ARS.Umbraco.Extensions.Helpers
@using USDA_ARS.Umbraco.Extensions.Helpers.Aris
@using USDA_ARS.Umbraco.Extensions.Models.Aris
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;
    string modeCode = currentPage.GetPropertyValue<string>("modeCode");

    NationalProgramLocation programLocation = NationalPrograms.GetProgramLocationByModeCode(modeCode);
    PeopleInfo locationLeader = null;

    IPublishedContent peopleListNationalProgram = Umbraco.TypedContent(9127); // people list - national program
    IPublishedContent nationalProgramsMain = Nodes.NationProgramsMain();

    if (programLocation != null)
    {
        locationLeader = People.GetPersonByEmployeeId(programLocation.RlEmpId);
    }
}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

    @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

    <div id="pageContent">


        <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="This table displays location and people info">
            <tbody>
                <tr>
                    <td valign="top">
                        <!-- modecode description, address, and mission statement -->
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td valign="top">

                                        <!-- modecode description -->

                                        <strong>
                                            @if (false == string.IsNullOrEmpty(programLocation.ModeCode2Desc))
                                            {
                                                @(programLocation.ModeCode2Desc)
                                            }
                                            else
                                            {
                                                @(programLocation.ModeCode1Desc)
                                            }
                                        </strong>

                                        <!-- address and mission statement begin -->
                                        <!-- _locBlurb start -->

                                        <font size="2">

                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" summary="This table displays information about this location">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @if (locationLeader != null && nationalProgramsMain != null && nationalProgramsMain.Id != currentPage.Id)
                                                            {
                                                                <a href="/people-locations/person?person-id=@(locationLeader.PersonId)" id="anch_51">
                                                                    @(locationLeader.LastName), @(locationLeader.FirstName)

                                                                    @if (false == string.IsNullOrEmpty(locationLeader.CommonName))
                                                                    {
                                                                        @Html.Raw(" - <em>" + locationLeader.CommonName + "</em>")
                                                                    }
                                                                </a><br />
                                                                @(locationLeader.TitleWorking)<br />
                                                                <a href="mailto:@(programLocation.Email)?Subject=From ARS website" target="_blank" id="anch_52">@(programLocation.Email)</a>
                                                                <br />
                                                            }
                                                            @*else
                                                            {
                                                                <em>Person not found: EmpId = @programLocation.RlEmpId</em><br />
                                                            }*@
                                                            
                                                            @if (nationalProgramsMain != null && nationalProgramsMain.Id != currentPage.Id)
                                                            {
                                                                @(programLocation.Phone)<br />
                                                            }
                                                            @(programLocation.Address1)<br />
                                                            @(programLocation.Address2)<br />
                                                            @(programLocation.City) @(programLocation.StateCode) @(programLocation.PostalCode)
                                                            <p>
                                                                <!-- MapQuest info here.  query_string= modecode=@(modeCode)-->
                                                            </p><p>


                                                                <strong>Mission:</strong><br />
                                                                @(programLocation.MissionStatement)

                                                            </p><p></p>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <!-- _locBlurb end -->
                                            <!-- address and mission statement end -->
                                        </font>
                                    </td>

                                    <td valign="top">

                                        <!-- National Programs hyperlinks begin -->
                                        <!-- begin org tree-->
                                    </td>
                                    <td valign="top" width="188">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" colspan="4" width="188">
                                                        <font face="arial" size="-2">
                                                            @if (nationalProgramsMain != null && nationalProgramsMain.Id != currentPage.Id)
                                                            {
                                                                <a href="@nationalProgramsMain.Url" class="projectNav">National Programs</a>
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("National Programs")
                                                            }
                                                            <br />
                                                        </font>
                                                    </td>
                                                </tr>
                                                @if (nationalProgramsMain != null && nationalProgramsMain.Id != currentPage.Id)
                                                {
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td valign="top" colspan="3" width="188">
                                                            <font face="arial" size="-2">
                                                                @(programLocation.ModeCode2Desc)<br />
                                                            </font>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        @if (nationalProgramsMain != null && nationalProgramsMain.Id == currentPage.Id)
                                        {
                                            <table width="188" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellpadding="4">
                                                                <tbody>
                                                                    @foreach (IPublishedContent npItem in nationalProgramsMain.Children)
                                                                    {
                                                                        <tr>
                                                                            <td><a href="@(peopleListNationalProgram.Url + "?modeCode=" + npItem.GetPropertyValue<string>("modeCode"))" class="projectNav">@(npItem.Name)</a></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }

                                    </td>
                                    <!-- end org tree-->
                                    <!-- National Programs hyperlinks begin -->

                                </tr>
                            </tbody>
                        </table>

                        @if (nationalProgramsMain != null && nationalProgramsMain.Id == currentPage.Id)
                        {
                            MultiUrls relatedLinkList = currentPage.GetPropertyValue<MultiUrls>("relatedLinks");

                            if (relatedLinkList != null && relatedLinkList.Any())
                            {
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <font face="verdana,arial" size="-1" color="#000000">
                                                    <b>
                                                        Related Information Links:
                                                    </b>
                                                </font><br />
                                                <div align="left">
                                                    <table width="100%" cellspacing="0" cellpadding="3">
                                                        <tbody>
                                                            @foreach (var linkItem in relatedLinkList)
                                                            {
                                                                <tr>
                                                                    <td valign="top"><img src="/images/incme/bullet.gif" border="0" alt="item"></td>
                                                                    <td valign="top" align="left">
                                                                        <font face="arial,helvetica" size="-2">
                                                                            <a href="@(linkItem.Url)" target="@(linkItem.Target)">@linkItem.Name</a>
                                                                        </font>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        }
                        else
                        {
                        <!-- National Programs releated links begin -->

                            <table cellspacing="0" cellpadding="3" colspan="2" border="0">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <b>National Programs</b>
                                        </td>
                                    </tr>
                                    @if (currentPage.Children != null)
                                    {
                                        foreach (IPublishedContent program in currentPage.Children)
                                        {
                                            <tr>
                                                <td valign="top"><img src="/images/incme/bullet.gif" border="0" alt="item"></td>
                                                <td valign="top" align="left" background="/incme/images/spacer.gif">
                                                    <a href="@(program.Url)" id="anch_54">@(program.Name)</a> (NP #@(program.GetPropertyValue<string>("npCode")))
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <br />

                        <!-- National Programs releated links end -->
                        <!-- Patents and Patent Applications begin -->
                        <!-- Patents and Patent Applications end -->


                            <table border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <!-- People list begin -->

                                            <a href="/people-locations/people-list-national-program/?modeCode=02-04-00-00" title="Staff Listing" id="anch_57"><strong>Staff Listing</strong></a>

                                            <!-- People list end -->


                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        }

                        <!-- spotlights begin -->
                        @Html.Raw(currentPage.GetPropertyValue<string>("bodyText"))
                        <!-- spotlights end -->
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>