@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@using USDA_ARS.Umbraco.Extensions.Models.Aris
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;

    PeopleInfo peopleInfo = null;

    if (false == string.IsNullOrEmpty(Request.QueryString["person-id"]))
    {
        int personId = Convert.ToInt32(Request.QueryString["person-id"]);
        peopleInfo = USDA_ARS.Umbraco.Extensions.Helpers.Aris.People.GetPerson(personId);

    }
    if (peopleInfo == null)
    {
        Response.Redirect(currentPage.Parent.Url);
    }

}



<div id="navigationLinks">
    <div id="breadcrumb">
        You are here:

        <a href="/">ARS Home</a>
        / <a href="@currentPage.Url">@(currentPage.GetPropertyValue<string>("breadcrumbLabel", currentPage.Name))</a>

    </div>

    <div id="navigationStayConnected">
        @Html.Partial("~/Views/Partials/Modules/SocialLinks.cshtml")
    </div>

    <div style="clear:both;">
        <hr />
    </div>

</div>




<div id="fullPage">


    <!--[if lt IE 9]>
        <div class="IErounded-sidetop"
             style="display:block; height:20px; width:250px; position:relative; left:25px; top:5px;">
            <img src="/images/redesign/rounded-sidetop.png" alt="spacing">
        </div>
        <style>#relatedTopics {margin-top:-10px !important; z-index:300 !important;}</style>
    <![endif]-->

    <div id="relatedTopics">

        <h1 class="related_topics">Related Topics</h1>

        <ul>
            @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)
        </ul>

    </div>


    <!--[if lt IE 9]>
        <div class="IErounded-sidebot"
                style="display:block; height:20px; width:250px; position:relative; left:25px; top:-12px;">
            <img src="/images/redesign/rounded-sidebottom.png" alt="spacing">
        </div>
    <![endif]-->

    <div id="pageContent">




        <script language="javascript">
<!--
window.name = 'nps2000';
var remote = null;
function rs(n,u,w,h) {
remote = window.open(u, n, 'width=' + w + ',height=' + h +',refresh=yes,resizable=yes,scrollbars=yes');
if (remote != null) {
if (remote.opener == null)
remote.opener = self;
window.name = 'nps2000';
remote.location.href = u;
}
}
//-->
        </script>







        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td valign="top">

                        @peopleInfo.FirstName @peopleInfo.MiddleName @peopleInfo.LastName

                        @if (false == string.IsNullOrEmpty(peopleInfo.CommonName))
                        {
                            @("(" + peopleInfo.CommonName +")")
                        }
                        <br/ >

                        <font size="-1">
                            <!-- Get this and parent Modecodes-->
                            <a href="/main/site_main.htm?modecode=20-00-00-00" id="anch_48"> </a>

                            <a href="/main/site_main.htm?modecode=20-50-00-00" id="anch_49"> </a>

                            @{
                                string modeCode = peopleInfo.ModeCode1 + "-" + peopleInfo.ModeCode2.ToString("00") + "-" + peopleInfo.ModeCode3.ToString("00") + "-" + peopleInfo.ModeCode4.ToString("00");
                                IPublishedContent node = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.GetNodeByModeCode(modeCode);

                                if (node != null)
                                {
                                    <a href="@node.Url" id="anch_50"> @node.Name </a>
                                }
                            }


                            
                        </font>


                        <script language="JavaScript">function DisplayEmail(username, domain){document.write(username + "&#64;" + domain);}</script>
                        <br>

                        @(peopleInfo.TitleWorking)<br />

                        <a href="/contactus/feedback.htm?email=5D46F58CD165A3D77A5CB97E9EAEBC1D8061AAF2F983A240" id="anch_51">

                            <script language="javascript">DisplayEmail('@(peopleInfo.Email.Split('@')[0])', '@(peopleInfo.Email.Split('@')[1])');</script>
                            <noscript>Mike dot Bonman at ars dot usda dot gov</noscript>
                        </a><br>


                        Phone: @("(" + peopleInfo.PhoneAreaCode + ")") @peopleInfo.Phone <br />

                        Fax: <strong>TODO</strong><br />
                        <br />
                        @peopleInfo.Address1<br />
                        @peopleInfo.Address2<br />
                        @peopleInfo.City, @peopleInfo.State, @peopleInfo.PostalCode<br />


                        <p> </p>

                        @*<table width="368">
                                <tbody>
                                    <tr>
                                        <td class="hdrBlackBold">Projects</td>
                                    </tr>
                                    <tr>
                                        <td><img src="/images/headline_bar.gif"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="/research/projects/projects.htm?ACCN_NO=421078" class="projectNav" id="anch_52">Assessing Water and Nitrogen Use Efficiency in NSGC Core Accessions</a>
                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="bodyTextBlack">




                                                            General Cooperative Agreement

                                                            (A)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="bodyTextBlack">Accession Number: 421078</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="/research/projects/projects.htm?ACCN_NO=424394" class="projectNav" id="anch_53">Genetic Resource Management of National Small Grains Collection and Associated Information</a>
                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="bodyTextBlack">




                                                            Appropriated

                                                            (D)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="bodyTextBlack">Accession Number: 424394</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="/research/projects/projects.htm?ACCN_NO=424520" class="projectNav" id="anch_54">Analysis of the Biochemical Pathway and Genetics of Seed Phytate in Barley</a>
                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="bodyTextBlack">




                                                            Appropriated

                                                            (D)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="bodyTextBlack">Accession Number: 424520</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="/research/projects/projects.htm?ACCN_NO=424532" class="projectNav" id="anch_55">Genetic Improvement of Barley and Oats for Enhanced Quality and Biotic Stress Resistance</a>
                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="bodyTextBlack">




                                                            Appropriated

                                                            (D)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="bodyTextBlack">Accession Number: 424532</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="/research/projects/projects.htm?ACCN_NO=424904" class="projectNav" id="anch_56">Potato Genetic Improvement for Western U.S. Production</a>
                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="bodyTextBlack">




                                                            Appropriated

                                                            (D)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="bodyTextBlack">Accession Number: 424904</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="/research/projects/projects.htm?ACCN_NO=428348" class="projectNav" id="anch_57">
                                                Integrating the Development of New Feed Ingredients and Functionality and Genetic Improvement to Enhance Sustainable Production of Rainbow Trout
                                            </a>
                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="bodyTextBlack">




                                                            Appropriated

                                                            (D)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="bodyTextBlack">Accession Number: 428348</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="/research/projects/projects.htm?ACCN_NO=421024" class="projectNav" id="anch_58">Triticeae Cap Project</a>
                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="bodyTextBlack">




                                                            Reimbursable

                                                            (R)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="bodyTextBlack">Accession Number: 421024</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="/research/projects/projects.htm?ACCN_NO=421082" class="projectNav" id="anch_59">Finding and Deploying Genes Confering Durable Resistance to Barley Stripe Rust</a>
                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="bodyTextBlack">




                                                            Specific Cooperative Agreement

                                                            (S)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td class="bodyTextBlack">Accession Number: 421082</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                </tbody>
                            </table>







                            <br>

                            <table width="368">
                                <tbody>
                                    <tr>


                                        <td>

                                            <strong>Publications</strong>
                                            <font size="-2">
                                                (Clicking on the reprint icon
                                                <img src="/images/reprintURLIcon.gif" alt="Reprint Icon" border="0">
                                                will take you to the publication reprint.)
                                            </font>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/headline_bar.gif"></td>
                                    </tr>


                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=309173" class="projectNav" id="anch_60">Genetic diversity among wheat accessions from the USDA National Small Grains Collection</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J.M., Babiker, E.M., Cuesta-Marcos, A., Esvelt Klos, K.L., Brown Guedira, G.L., Chao, S., See, D.R., Chen, J., Akhunov, E., Zhang, J., Bockelman, H.E., Gordon, T.C. 2015. Genetic diversity among wheat accessions from the USDA National Small Grains Collection. Crop Science. 55(3):1243-1253.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=313994" class="projectNav" id="anch_61">Genome-wide association mapping for resistance to leaf and stripe rust in winter-habit hexaploid wheat landraces</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Kertho, A., Mamidi, S., Bonman, J.M., Mcclean, P.E., Acevedo, M. 2015. Genome-wide association mapping for resistance to leaf and stripe rust in winter-habit hexaploid wheat landraces. PLoS One. 10(6):e0129580. doi: 10.1371/journal.pone.0129580.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=311603" class="projectNav" id="anch_62">Mapping resistance to the Ug99 race group of the stem rust pathogen in a spring wheat landrace</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Babiker, E.M., Bonman, J.M., Gordon, T.C., Chao, S., Newcomb, M.S., Rouse, M.N., Jin, Y., Wanyera, R., Acevedo, M., Brown Guedira, G.L., Williamson, S. 2015. Mapping resistance to the Ug99 race group of the stem rust pathogen in a spring wheat landrace. Journal of Theoretical and Applied Genetics. 128:605-612. doi:10.1007/s00122-015-2456-6.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=304492" class="projectNav" id="anch_63">Genome-wide association study reveals novel quantitative trait loci associated with resistance to multiple leaf spot diseases of spring wheat</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Gurung, S., Mamidi, S., Bonman, J.M., Xiong, M., Brown Guedira, G.L., Adhikari, T.B. 2014. Genome-wide association study reveals novel quantitative trait loci associated with resistance to multiple leaf spot diseases of spring wheat. PLoS One 9(9): e108179. doi:10.1371/journal.pone.0108179.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=317549" class="projectNav" id="anch_64">Quantitative trait loci from two genotypes of oat (Avena sativa L.) conditioning resistance to Puccinia coronata</a>





                                            <a href="http://apsjournals.apsnet.org/doi/pdf/10.1094/PHYTO-04-14-0114-R" target="_blank" title="Reprint URL" id="anch_65">
                                                <img src="/images/reprintURLIcon.gif" alt="Reprint Icon" border="0">
                                            </a>


                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Babiker, E.M., Gordon, T.C., Obert, D.E., Jackson, E.W., Harrison, S.A., Chao, S., Carson, M.L., Bonman, J.M. 2015. Quantitative trait loci from two genotypes of oat (Avena sativa L.) conditioning resistance to Puccinia coronata. Phytopathology. 105(2):239-245.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=297242" class="projectNav" id="anch_66">High density mapping of a resistance gene to Ug99 from an Iranian landrace</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Zurn, J.D., Newcomb, M.S., Rouse, M.N., Jin, Y., Shiaoman, C., Sthapit, J., See, D.R., Wanyera, R., Njau, P., Bonman, J.M., Brueggeman, R., Acevedo, M. 2014. High density mapping of a resistance gene to Ug99 from an Iranian landrace. Molecular Breeding. 34:871-881.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=299998" class="projectNav" id="anch_67">The USDA collection of barley landraces and cultivars: genetic diversity, population structure, and potential for genome-wide association studies</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Munoz-Amatrian, M., Cuesta-Marcos, A., Endelman, J.B., Comadran, J., Bonman, J.M., Bockelman, H.E., Chao, S., Russell, J., Waugh, R., Hayes, P.M., Muehlbauer, G.J. 2014. The USDA collection of barley landraces and cultivars: genetic diversity, population structure, and potential for genome-wide association studies. PLoS One. 9(4):394688. doi:10.137/journal.pone.0094688.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=302635" class="projectNav" id="anch_68">Genetic diversity for stripe rust Resistance in wheat landraces and identification of accessions with resistance to stem rust and stripe rust</a>





                                            <a href="http://doi:10.2135/cropsci2013.07.0438" target="_blank" title="Reprint URL" id="anch_69">
                                                <img src="/images/reprintURLIcon.gif" alt="Reprint Icon" border="0">
                                            </a>


                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Sthapit, J., Newcomb, M.S., Bonman, J.M., Chen, X., See, D.R. 2014. Genetic diversity for stripe rust Resistance in wheat landraces and identification of accessions with resistance to stem rust and stripe rust. Crop Science. doi: 10.2135/cropsci2013.07.0438.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=293518" class="projectNav" id="anch_70">SNP discovery and chromosome anchoring provide the first physically-anchored hexaploid oat map and reveal synteny with model species</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Oliver, R.E., Tinker, N.A., Lazo, G.R., Chao, S., Jellen, E.N., Carson, M.L., Rines, H.W., Obert, D., Lutz, J.D., Shackelford, I., Korol, A.B., Wight, C., Gardner, K.M., Hattori, J., Beattie, A., Bjornstad, A., Bonman, J.M., Jannink, J., Mitchell Fetch, J.W., Harrison, S., Howarth, C.J., Ibrahim, A., Kolb, F.L., McMullen, M.S., Murphy, J.P., Ohm, H., Rossnagel, B.G., Yan, W., Miclaus, K.J., Hiller, J., Maughan, P.J., Redman-Hulse, R.R., Anderson, J.M., Islamovic, E., Jackson, E.W. 2013. SNP discovery and chromosome anchoring provide the first physically-anchored hexaploid oat map and reveal synteny with model species. PLoS One. 8:e58068.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=287427" class="projectNav" id="anch_71">The art of attrition: development of robust oat microsatellites</a>




                                            - (Peer Reviewed Journal)


                                            - (27-Nov-12)

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack"></td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=282608" class="projectNav" id="anch_72">Genome-wide association analysis in spring wheat identifies QTL associated with resistance to a novel isolate of Pyrenophora tritici-repentis</a>




                                            - (Peer Reviewed Journal)


                                            - (23-Apr-12)

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack"></td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=282698" class="projectNav" id="anch_73">Field resistance to the Ug99 race group of the stem rust pathogen in spring wheat landraces</a>





                                            <a href="http://apsjournals.apsnet.org/doi/abs/10.1094/PDIS-02-12-0200-RE" target="_blank" title="Reprint URL" id="anch_74">
                                                <img src="/images/reprintURLIcon.gif" alt="Reprint Icon" border="0">
                                            </a>


                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Newcomb, M.S., Acevedo, M., Bockelman, H.E., Brown Guedira, G.L., Goates, B., Jackson, E.W., Jin, Y., Njau, P., Rouse, M.N., Singh, D., Waynera, R., Bonman, J.M. 2013. Field resistance to the Ug99 race group of the stem rust pathogen in spring wheat landraces. Plant Disease. 97:882-890.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=271622" class="projectNav" id="anch_75">Multiple disease resistance to four leaf spot diseases in winter wheat accessions from the USDA National Small Grains Collection</a>




                                            - (Peer Reviewed Journal)


                                            - (20-Mar-12)

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack"></td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=270582" class="projectNav" id="anch_76">Association mapping of quantitative trait loci responsible for resistance to Bacterial Leaf Streak and Spot Blotch in spring wheat landraces</a>





                                            <a href="http://
    " target="_blank" title="Reprint URL">
                                                <img src="/images/reprintURLIcon.gif" alt="Reprint Icon" border="0">
                                            </a>


                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Adhikari, T.B., Gurung, S., Hansen, J., Jackson, E.W., Bonman, J.M. 2012. Association mapping of quantitative trait loci responsible for resistance to Bacterial Leaf Streak and Spot Blotch in spring wheat landraces. The Plant Genome. 5:1-16. doi:10.3835/plantgenome2011.12.0032.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=269065" class="projectNav" id="anch_78">Pathogenic and genetic diversity of Xanthomonas translucens pv. undulosa populations in North Dakota</a>





                                            <a href="http://
    " target="_blank" title="Reprint URL">
                                                <img src="/images/reprintURLIcon.gif" alt="Reprint Icon" border="0">
                                            </a>


                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Adhikari, T.B., Gurung, S., Hansen, J.M., Bonman, J.M. 2012. Pathogenic and genetic diversity of Xanthomonas translucens pv. undulosa populations in North Dakota. Phytopathology. Vol. 102, No. 4, 2012.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=264233" class="projectNav" id="anch_80">Identification of novel genomic regions associated with resistance to Pyrenophora tritici-repentis races 1 and 5 in spring wheat landraces using association analysis</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Gurung, S., Mamid, S., Bonman, J.M., Jackson, E.W., Del Rio, L.E., Acevedo, M., Adhikari, T.B. 2011. Identification of novel genomic regions associated with resistance to Pyrenophora tritici-repentis races 1 and 5 in spring wheat landraces using association analysis. Theoretical and Applied Genetics. 123:1029-1041.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=265937" class="projectNav" id="anch_81">Association mapping of quantitative resistance to phaeosphaeria nodorum in spring wheat landraces from the USDA National Small Grains Collection</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Adhikari, T., Jackson, E.W., Gurung, S., Hansen, J., Bonman, J.M. 2011. Association mapping of quantitative resistance to phaeosphaeria nodorum in spring wheat landraces from the USDA National Small Grains Collection. Phytopathology. 101(11):1301-1310.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=254793" class="projectNav" id="anch_82">Identification of New Sources of Resistance to Xanthomonas translucens pv. undulosa in Winter Wheat</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Adhikari, T.B., Hansen, J.M., Gurung, S., Bonman, J.M. 2011. Identification of New Sources of Resistance to Xanthomonas translucens pv. undulosa in Winter Wheat. Plant Disease. PDIS-10-10-0760-RE.R2.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=260728" class="projectNav" id="anch_83">Model SNP development based on the complex oat genome using high-throughput 454 sequencing technology</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Oliver, R.E., Lazo, G.R., Lutz, J.D., Rubenfield, M.J., Tinker, N.A., Anderson, J.M., Wisniewski-Morehead, N.H., Adhikary, D., Jellen, E.N., Maughan, P.J., Brown Guedira, G.L., Chao, S., Beattie, A.D., Carson, M.L., Rines, H.W., Obert, D.E., Bonman, J.M., Jackson, E.W. 2011. Model SNP development based on the complex oat genome using high-throughput 454 sequencing technology. Biomed Central (BMC) Genomics. 12:77.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=253636" class="projectNav" id="anch_84">Registration of the BISON genetic stocks in Hordeum vulgare L.</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Verhoeven, E.C., Bonman, J.M., Bregitzer, P.P., Brunick, B., Cooper, B., Corey, A.E., Cuesta-Marcos, A., Filichkina, T., Mundt, C.C., Obert, D.E., Rossnagel, B., Richardson, K.L., Hayes, P.M. 2011. Registration of the BISON genetic stocks in Hordeum vulgare L. Journal of Plant Registrations. 5:135-140.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=248282" class="projectNav" id="anch_85">Inferring geographic origin of barley accessions using molecular markers</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J.M., Gu, Y.Q., Coleman Derr, D., Jackson, E.W., Bockelman, H.E. 2010. Inferring geographic origin of barley accessions using molecular markers. Genetic Resources and Crop Evolution. DOI: 10.1007/s10722-010-9574-4.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=246683" class="projectNav" id="anch_86">Development of oat-based markers from barley and wheat microsatellites.</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Oliver, R.E., Obert, D.E., Hu, G., Bonman, J.M., O'Leary-Jepsen, E., Jackson, E.W. 2010. Development of oat-based markers from barley and wheat microsatellites. Genome. 53(6): 458–471.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=246425" class="projectNav" id="anch_87">Identification and Validation of Quantitative Trait Loci for Partial Resistance to Crown Rust in Oat.</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Acevedo, M., Jackson, E.W., Chong, J., Rines, H.W., Harrison, S., Bonman, J.M. 2010. Identification and Validation of Quantitative Trait Loci for Partial Resistance to Crown Rust in Oat. Phytopathology. 100(5):511-521.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=246585" class="projectNav" id="anch_88">An improved method to quantify Puccinia coronata f. sp. avenae DNA in the host Avena sativa.</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Acevedo, M. , Jackson, E. W. , Sturbaum, A. , Ohm, H. W. and Bonman, J. M.(2010) 'An improved method to quantify Puccinia coronata f. sp. avenae DNA in the host Avena sativa', Canadian Journal of Plant Pathology, 32(2):215-224.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=244212" class="projectNav" id="anch_89">New and Diverse Sources of Multiple Disease Resistnace in Wheat.</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Gurung, S., Bonman, J.M., Ali, S., Patel, J., Myrfield, M., Mergoum, M., Singh, P.K., Adhikari, T.B. 2009. New and Diverse Sources of Multiple Disease Resistnace in Wheat. Crop Sci. 49:1655-1666
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=234548" class="projectNav" id="anch_90">New and Diverse Sources of Multiple Disease Resistance in Wheat</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Gurung, S., Bonman, J.M., Ali, S., Patel, J., Myrfield, M., Mergoum, M., Singh, P.K., Adhikari, T.B. 2009. New and Diverse Sources of Multiple Disease Resistance in Wheat. Crop Sci. 49:1655-1666.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=244137" class="projectNav" id="anch_91">New DArT markers for oat provide enhanced map coverage and global germplasm characterization</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Tinker, N.A., Kilian, A., Wright, C.P., Heller-Uszynska, K., Wenzl, P., Rines, H.W., Bjornstad, A., Howarth, C., Jannink, J., Anderson, J.M., Rossnagle, B.G., Stuthman, D.D., Sorrells, M.E., Jackson, E.W., Tuvesson, S., Kolb, F.L., Olsson, O., Federizzi, L.C., Carson, M.L., Ohm, H.W., Molnar, S.J., Scoles, G.J., Eckstein, P.E., Bonman, J.M., Ceplitis, A., Langdon, T. 2009. New DArT markers for oat provide enhanced map coverage and global germplasm characterization. BMC Medical Genetics. 10:39.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=229620" class="projectNav" id="anch_92">New DArT markers for oat provide enhanced map coverage and global germplasm characterization</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Tinker, N.A., Kilian, A., Rines, H.W., Bjornstad, A., Howarth, C.J., Jannink, J., Anderson, J.M., Rossnagel, B.G., Wight, C.P., Stuthman, D.D., Sorrells, M.E., Scoles, G.J., Eckstein, P.E., Ohm, H.W., Jackson, E.W., Tuvesson, S., Kolb, F.L., Molnar, S.J., Olsson, O., Carson, M.L., Ceplitis, A., Bonman, J.M., Federizzi, L., Langdon, T. 2009. New DArT markers for oat provide enhanced map coverage and global germplasm characterization. Biomed Central (BMC) Genomics. 10(39):1471-2164.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=219401" class="projectNav" id="anch_93">QTLs Affecting a-Tocotrienol, a-Tocopherol, and Total Tocopherol Concentrations Detected in the Ogle/TAM O-301 Oat Mapping Population.</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Jackson, E.W., Wise, M., Bonman, J.M.,Obert, D.E., Hu, G. and Peterson. D.M.. 2008. QTLs Affecting  -tocotrienol,  -tocopherol, and total tocopherol concentrations detected in the Ogle/TAM O-301 oat mapping population. Crop Science 48:2141-2152.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=221365" class="projectNav" id="anch_94">A detached leaf method for propagating Puccinia coronata races and assessing crown rust resistance in oat (Avena sativa L.)</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Jackson, E.W., Obert, D.E., Chong, J., Avant, J., Bonman, J.M. A detached leaf method for propagating Puccinia coronata races and assessing crown rust resistance in oat (Avena sativa L.). Plant Pathology 92:1400-1406
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=216231" class="projectNav" id="anch_95">Origin of barley accessions with multiple disease resistance determined by SSR analysis.</a>




                                            - (Abstract Only)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J.M., Gu, Y., Coleman Derr, D., Jackson, E.W., Chao, S., Bockelman, H.E. 2008. Origin of barley accessions with multiple disease resistance determined by SSR analysis.. International Congress of Plant Pathology Abstracts and Proceedings.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=206603" class="projectNav" id="anch_96">Qualitative and Quantitative trait loci conditioning resistance to Puccinia coronata races NQMG and LGCG in the oat (Avena sativa L.) cultivars Ogle and TAM O-301</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Jackson, E.W., Obert, D.E., Hu, G., Menz, M., Bonman, J.M. 2008. Qualitative and Quantitative trait loci conditioning resistance to Puccinia coronata races NQMG and LGCG in the oat (Avena sativa L.) cultivars Ogle and TAM O-301. Theoretical and Applied Genetics.v116:517-527
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=219857" class="projectNav" id="anch_97">Field effectiveness of individual genes in the Pc58 crown rust resistance gene complex and subsequent SNP marker development to facilitate utilization</a>




                                            - (Abstract Only)


                                            - (09-Oct-07)

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack"></td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=220850" class="projectNav" id="anch_98">Alternative approaches for measuring oat crown rust to improve resistance mapping</a>




                                            - (Proceedings)


                                            - (01-Oct-07)

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack"></td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=206598" class="projectNav" id="anch_99">Geographic Distribution of Stem Rust Resistance in Wheat Landraces</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J.M., Bockelman, H.E., Jin, Y., Hijmans, R.J., Gironella, A. 2007. Geographic Distribution of Stem Rust Resistance in Wheat Landraces. Crop Science. 47:1955-1963.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=211724" class="projectNav" id="anch_100">Disease resistance from the USDA National Small Grains collection -- past, present, and future.</a>




                                            - (Abstract Only)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J.M., Bockelman, H.E., Goates, B. 2007. Disease resistance from the USDA National Small Grains collection -- past, present, and future.. Phytopathology.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=197581" class="projectNav" id="anch_101">CHARACTERIZATION AND MAPPING OAT CROWN RUST RESISTANCE USING THREE ASSESSMENT METHODS</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Jackson, E.W., Obert, D.E., Menz, M., Hu, G., Avant, J.B., Chong, J., Bonman, J.M. 2007. Characterization and mapping oat crown rust resistance using three assessment methods. Phytopathology.p.1063-1070
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=202436" class="projectNav" id="anch_102">EXPANSION OF PCR-BASED MARKER RESOURCES IN OAT BY SURVEYING GENOMIC-DERIVED SSRs FROM BARLEY AND WHEAT</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Hu, G., Jackson, E.W., Bonman, J.M. 2007. Expansion of pcr-based marker resources in oat by surveying genomic-derived ssrs from barley and wheat. Agronomy Society of America, Crop Science Society of America, Soil Science Society of America Meeting. Crop Sci. 47:2004-2012 (2007).
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=198969" class="projectNav" id="anch_103">ENLARGEMENT OF PCR-BASED MARKER RESOURCES IN OAT BY SURVEYING GENOMIC-DERIVED SSRS FROM BARLEY AND WHEAT</a>




                                            - (Abstract Only)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Hu, G., Jackson, E.W., Bonman, J.M. 2006. Enlargement of pcr-based marker resources in oat by surveying genomic-derived ssrs from barley and wheat. American Oat Workers Conference Proceedings. 52
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=191317" class="projectNav" id="anch_104">SMALL GRAINS: OLD CROPS WITH NEW USES</a>




                                            - (Abstract Only)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Liu, K., Bonman, J.M. 2006. Small grains: old crops with new uses. 97th Annual Meeting and Expo of the American Oil Chemists' Society. (Book of Abstracts).p. 108.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=194477" class="projectNav" id="anch_105">UTILIZATION OF A DETACHED LEAF METHOD FOR CEREAL RUST DISEASE STUDIES.</a>




                                            - (Abstract Only)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Jackson, E.W., Chong, J., Avant, J.B., Bonman, J.M. 2006. Utilization of a detached leaf method for cereal rust disease studies.. Phytopathology S881.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=189359" class="projectNav" id="anch_106">GEOGRAPHIC DISTRIBUTION OF COMMON AND DWARF BUNT RESISTANCE IN LANDRACES OF TRITICUM AESTIVUM SUBSP. AESTIVUM</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J.M., Bockelman, H.E., Goates, B., Obert, D.E., Mcguire, P.E., Qualset, C.O., Hijmans, R.J. 2006. Geographic distribution of common and dwarf bunt resistance in landraces of triticum aestivum subsp. aestivum  . Crop Science.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=186622" class="projectNav" id="anch_107">ASSESSMENT OF GENETIC VARIATION IN AVENA FATUA BY DNA MARKER PROFILING</a>




                                            - (Abstract Only)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Vemulapalli, C., Bonman, J.M., Sharma, G., Soliman, K., Kantety, R. 2006. Assessment of genetic variation in avena fatua by dna marker profiling. Plant Genome Conference Proceedings.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=183427" class="projectNav" id="anch_108">A QUANTITATIVE ASSAY OF PUCCINIA CORONATA F.SP. AVENAE DNA IN AVENA SATIVA.</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Jackson, E.W., Avant, J.B., Overturf, K.E., Bonman, J.M. 2006. A quantitative assay of puccinia coronata f.sp. avenae dna in avena sativa.. Plant Disease. 90:629-636.  DOI:10.1094/PD-90-0629
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=178912" class="projectNav" id="anch_109">DEVELOPMENT OF A REAL-TIME POLYMERASE CHAIN REACTION ASSAY TO QUANTIFY PUCCINIA CORONATA F.SP. AVENAE IN AVENA SATIVA</a>




                                            - (Abstract Only)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Jackson, E.W., Avant, J.B., Overturf, K.E., Bonman, J.M. 2005. Development of a real-time polymerase chain reaction assay to quantify puccinia coronata f.sp. avenae in avena sativa. American Phytopathology Society. 95 (6):S47
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=169033" class="projectNav" id="anch_110">DISEASE AND INSECT RESISTANCE IN CULTIVATED BARLEY ACCESSIONS FROM THE USDA NATIONAL SMALL GRAINS COLLECTION.</a>




                                            - (Peer Reviewed Journal)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J.M., Bockelman, H.E., Steffenson, B. and Jackson. L. 2005. Disease and insect resistance in cultivated barley accessions from the USDA National Small Grains Collection. Crop Sci. 45:1271-1280.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=167121" class="projectNav" id="anch_111">GIS ANALYSIS OF DISEASE RESISTANT BARLEY LANDRACES</a>




                                            - (Proceedings)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bockelman, H.E., Bonman, J.M. GIS analysis of disease resistant barley landraces. American Society of Agronomy. 2005. Annual Meeting Abstracts No. 3766.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=163468" class="projectNav" id="anch_112">MULTI-LOCATION TESTING TO IDENTIFY OAT GERMPLASM WITH PARTIAL RESISTANCE TO CROWN RUST</a>




                                            - (Proceedings)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J.M., Barnett, R.D., Chong, M.J., Harrison, S.A., Herrington, R., Jannink, J., Mcmullen, M.S., Obert, D.E., Shaner, G., Stuthman, D.D. Multi-location testing to identify oat germplasm with partial resistance to crown rust. 7th Oat International Conference Proceedings. P. Peltonen-Sainio and m. Topi-Hulmi (eds.) MTT Agrifood Research Finland, Jokioinen, Finland. 2004 .p. 177-178.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=146506" class="projectNav" id="anch_113">BREEDING FOR DURABLE RESISTANCE TO RICE BLAST DISEASE-DREAM OR REALITY? J.M. BONMAN (1) &amp; H. LEUNG (2). (1) USDA-ARS, SMALL GRAINS &amp; POTATO GERMPLASM RESEARCH UNIT, ABERDEEN, ID;(2)INTL RICE RES INSTITUTE, MANILA, PHILLIPINES</a>




                                            - (Proceedings)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J.M., Leung, H. 2004. Breeding for durable resistance to rice blast disease-dream or reality? j.m. bonman (1) &amp; h. leung (2). (1) usda-ars, small grains &amp; potato germplasm research unit, aberdeen, id;(2)intl rice res institute, manila, phillipines. Phytopathology 93:S113. Publication no. P-2003-0110-SSA. American Phytopathological Society Annual Meeting.
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                    <tr>
                                        <td class="bodyTextBlack">
                                            <a href="/research/publications/publications.htm?SEQ_NO_115=145986" class="projectNav" id="anch_114">THE 2003 PROCEEDINGS FOR BARLEY IMPROVEMENT CONFERENCE.</a>




                                            - (Proceedings)


                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:10px;" class="bodyTextBlack">
                                            Bonman, J. M. 2003. Barley research at USDA-Aberdeen.  p. 46-53 In: Proceedings of the 34th Annual Barley Improvement Conference.  Log # 145986 http://www.ambainc.org/pub/BIC%202003%20Proceedings.pdf
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="/images/content-divider.gif"></td>
                                    </tr>

                                </tbody>
                            </table>
                            *@

                        </td>
                        <td valign="top">


                            @*<font face="verdana,arial" size="-2" color="#014c3e">
                                <b>

                                    ARS News Articles
                                    <font face="verdana,arial" size="-2" color="#014c3e">
                                    </font>
                                </b><font face="verdana,arial" size="-2" color="#014c3e">
                                </font>
                                <br>

                                <font face="verdana,arial" size="-2">
                                    <div align="left">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td valign="top"><img src="/incme/images/bullet.gif" border="0" alt="item"></td>
                                                    <td valign="top" align="left" background="/incme/images/spacer.gif">
                                                        <font face="verdana,arial" size="-1">
                                                            <a href="/is/pr/2007/071127.htm" id="anch_115">Village Wheats May Fend Off Stem Rust</a>
                                                        </font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><img src="/incme/images/bullet.gif" border="0" alt="item"></td>
                                                    <td valign="top" align="left" background="/incme/images/spacer.gif">
                                                        <font face="verdana,arial" size="-1">
                                                            <a href="/is/pr/2011/111024.htm" id="anch_116">Stem Rust-resistant Wheat Landraces Identified</a>
                                                        </font>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                        
                                </div>
                            </font>

                        </font>*@
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
