@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@using USDA_ARS.Umbraco.Extensions.Utilities
@using USDA_ARS.Umbraco.Extensions.Helpers.Aris
@using USDA_ARS.Umbraco.Extensions.Models.Aris
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;

    PeopleInfo peopleInfo = null;
    List<PeoplePublication> peoplePublicationList = null;
    List<ProjectInfo> personProjectList = null;
    List<IPublishedContent> personNewsList = null;

    if (false == string.IsNullOrEmpty(Request.QueryString["person-id"]))
    {
        int personId = Convert.ToInt32(Request.QueryString["person-id"]);

        IPublishedContent personSite = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.GetNodeByPersonId(personId);

        if (null == personSite)
        {
            peopleInfo = People.GetPerson(personId);

            if (peopleInfo != null)
            {
                peoplePublicationList = Publications.PublicationsByPerson(personId);

                personProjectList = Projects.GetProjectsByPerson(peopleInfo.EmpId);
                personNewsList = NewsInterLinks.GetNewsByPersonId(personId);
            }
        }
        else
        {
            Response.Redirect(personSite.Url);
        }
    }

}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

    @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

    <div id="pageContent">

        <script language="javascript">
<!--
window.name = 'nps2000';
var remote = null;
function rs(n,u,w,h) {
remote = window.open(u, n, 'width=' + w + ',height=' + h +',refresh=yes,resizable=yes,scrollbars=yes');
if (remote != null) {
if (remote.opener == null)
remote.opener = self;
window.name = 'nps2000';
remote.location.href = u;
}
}
//-->
        </script>


        @if (peopleInfo != null)
        {

            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <td valign="top">
                            <b>
                                @peopleInfo.FirstName @peopleInfo.MiddleName @peopleInfo.LastName

                                @if (false == string.IsNullOrEmpty(peopleInfo.CommonName))
                                {
                                    @("(" + peopleInfo.CommonName + ")")
                                }
                            </b>
                            <br />

                            <font size="-1">
                                <!-- Get this and parent Modecodes-->

                                @{
                                    string modeCode = "";
                                    int modeCodeCheck = Convert.ToInt32(peopleInfo.MySiteCode.Substring(0, 2));
                                    if (modeCodeCheck >= 12 && modeCodeCheck <= 79)
                                    {
                                        modeCode = USDA_ARS.Umbraco.Extensions.Helpers.ModeCodes.ModeCodeAddDashes(peopleInfo.MySiteCode);
                                    }
                                    else
                                    {
                                        modeCode = USDA_ARS.Umbraco.Extensions.Helpers.ModeCodes.ModeCodeAddDashes(peopleInfo.ModeCodeConc);
                                    }

                                    IPublishedContent node = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.GetNodeByModeCode(modeCode, false);

                                    if (node != null)
                                    {
                                        <a href="@node.Url">@node.Name</a>
                                    }
                                    else
                                    {
                                        <em>Location not available</em>
                                    }

                                }

                            </font>

                            <script language="JavaScript">function DisplayEmail(username, domain) { document.write(username + "&#64;" + domain); }</script>
                            <br>

                            @(peopleInfo.TitleWorking)<br />

                            <a href="mailto:@(peopleInfo.Email)?Subject=From ARS website">
                                @if (peopleInfo.Email != null && peopleInfo.Email.Split('@').Length == 2)
                                {
                                    <script language="javascript">DisplayEmail('@(peopleInfo.Email.Split('@')[0])', '@(peopleInfo.Email.Split('@')[1])');</script>
                                }
                            </a><br>


                            Phone: @(Strings.FormatPhoneNumber(peopleInfo.PhoneAreaCode + peopleInfo.Phone))
                            @(false == string.IsNullOrEmpty(peopleInfo.PhoneExt) ? " ext. " + peopleInfo.PhoneExt : "")
                            <br />

                            Fax: @(Strings.FormatPhoneNumber(peopleInfo.FaxAreaCode + peopleInfo.Fax))<br />

                            @Html.Raw(false == string.IsNullOrEmpty(peopleInfo.RoomNumber) ? "Room " + peopleInfo.RoomNumber + "<br />" : "")

                            <br />
                            @peopleInfo.Address1<br />
                            @Html.Raw(false == string.IsNullOrWhiteSpace(peopleInfo.Address2) ? peopleInfo.Address2 + "<br />" : "")
                            @(peopleInfo.City +",") @peopleInfo.State @peopleInfo.PostalCode<br />


                            <p> </p>

                            @if (personProjectList != null && personProjectList.Any())
                            {
                                <table width="368">
                                    <tbody>
                                        <tr>
                                            <td class="hdrBlackBold"><b>Projects</b></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/images/headline_bar.gif"></td>
                                        </tr>

                                        @foreach (ProjectInfo project in personProjectList)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="/research/project/?accnNo=@(project.AccountNo)" class="projectNav" id="anch_53">@(project.ProjectTitle)</a>
                                                    <table border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td class="bodyTextBlack">
                                                                    @(Projects.ProjectTypeByCode(project.ProjectType))

                                                                    (@project.ProjectType)
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                                <td class="bodyTextBlack">Accession Number: @(project.AccountNo)</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img src="/images/content-divider.gif"></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            }

                            @if (peoplePublicationList != null && peoplePublicationList.Any())
                            {
                                <br />

                                <table width="368">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Publications</strong>
                                                <font size="-2">
                                                    (Clicking on the reprint icon
                                                    <img src="/images/reprintURLIcon.gif" alt="Reprint Icon" border="0">
                                                    will take you to the publication reprint.)
                                                </font>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><img src="/images/headline_bar.gif"></td>
                                        </tr>

                                        @foreach (PeoplePublication peoplePub in peoplePublicationList)
                                        {
                                            <tr>
                                                <td class="bodyTextBlack">
                                                    <a href="/research/publications/publication/?seqNo115=@(peoplePub.SeqNo115)" class="projectNav" id="anch_60">@(peoplePub.Title)</a>

                                                    @if (false == string.IsNullOrWhiteSpace(peoplePub.ReprintUrl))
                                                    {
                                                        <a href="http://@(peoplePub.ReprintUrl)" target="_blank" title="Reprint URL" id="anch_65">
                                                            <img src="/images/reprintURLIcon.gif" alt="Reprint Icon" border="0">
                                                        </a>
                                                    }
                                                    -
                                                    @{
                                                        string publicationType = "";

                                                        if (peoplePub.PubTypeCode == "J")
                                                        {
                                                            publicationType = "Peer Reviewed Journal";
                                                        }
                                                        else if (peoplePub.PubTypeCode == "A")
                                                        {
                                                            publicationType = "Abstract Only";
                                                        }
                                                        else if (peoplePub.PubTypeCode == "P")
                                                        {
                                                            publicationType = "Proceedings";
                                                        }

                                                        Html.Raw("(" + publicationType + ")");
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:10px;" class="bodyTextBlack">
                                                    @(peoplePub.Citation)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><img src="/images/content-divider.gif"></td>
                                            </tr>
                                                        }

                                    </tbody>
                                </table>
                                                        }


                        </td>
                        <td valign="top">
                            @if (personNewsList != null && personNewsList.Any())
                            {
                                <font face="verdana,arial" size="-2" color="#014c3e">
                                    <b>ARS News Articles</b>
                                    <br>
                                </font>
                                <div align="left">
                                    <table>
                                        <tbody>
                                            @foreach (IPublishedContent newsItem in personNewsList)
                                            {
                                                <tr>
                                                    <td valign="top"><img src="/ARSUserFiles/incme/images/bullet.gif" border="0" alt="item"></td>
                                                    <td valign="top" align="left" background="/ARSUserFiles/incme/images/spacer.gif">
                                                        <font face="verdana,arial" size="-1">
                                                            <a href="@newsItem.Url">@newsItem.Name</a>
                                                        </font>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            }
                        </td>

                    </tr>
                </tbody>
            </table>

            }
            else
            {
                <strong><em>The person you selected is invalid or no longer available.</em></strong>
            }

    </div>

</div>