@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@using USDA_ARS.Umbraco.Extensions
@using USDA_ARS.Umbraco.Extensions.Helpers.Aris
@using USDA_ARS.Umbraco.Extensions.Models.Aris
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;

    string npCode = "";
    string state = "";

    if (Request.QueryString["npCode"] != null)
    {
        npCode = Request.QueryString.Get("npCode");
    }

    if (Request.QueryString["state"] != null)
    {
        state = Request.QueryString.Get("state");
    }

    IPublishedContent nationalProgramGroup = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.GetNodeByNpCode(npCode);
    List<ProjectInfo> projectList = null;
    List<ProjectInfo> projectLocationList = null;

    if (nationalProgramGroup != null)
    {
        projectList = Projects.GetProjectsByStateAndProgram(state, npCode);

        if (projectList != null && projectList.Any())
        {
            projectLocationList = projectList.DistinctBy(p => p.ModeCode).ToList();
        }
    }

}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

    @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

    <div id="pageContent">

        <img src="/images/incme/spacer.GIF" alt="" border="0" width="1" height="20">


        <b>@(nationalProgramGroup.Name)</b>
        (<a href="@(nationalProgramGroup.Url)" id="anch_60">National Program @npCode</a>)
        in @state

        <hr size="1" color="Navy" noshade="">

        @if (projectLocationList != null)
            {
                foreach (ProjectInfo locationInfo in projectLocationList)
                {
                    IPublishedContent locationNode = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.GetNodeByModeCode(locationInfo.ModeCode, false);

                    if (locationNode != null)
                    {
                    <a href="@(locationNode.Url)" id="anch_61"><b>@(locationNode.Name)</b></a>
                    }
                    else
                    {
                        <em><b>National Program Not Found</b></em>
                    }


                List<ProjectInfo> filteredProjectList = projectList.Where(p => p.ModeCode == locationInfo.ModeCode).ToList();
                {
                    <div>
                        @if (filteredProjectList != null && filteredProjectList.Any())
                        {
                            <ul>
                                @foreach (ProjectInfo project in filteredProjectList)
                                {
                                    <li><a href="/research/project/?accnNo=@(project.AccountNo)" id="anch_62">@(project.ProjectTitle)</a></li>
                                }
                            </ul>
                        }
                    </div>
                    <br />
                }
            }
        }
        else
        {
            <em><b>No Projects Found</b></em>
        }

        <br /><br />

    </div>
</div>
