@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;
    IPublishedContent rootPage = currentPage.AncestorOrSelf(1);

    ArchetypeModel defaultPopularTopics = rootPage.GetPropertyValue<ArchetypeModel>("popularTopics");
    ArchetypeModel popularTopics = currentPage.GetPropertyValue<ArchetypeModel>("popularTopics");
    ArchetypeModel carouselSlides = currentPage.GetPropertyValue<ArchetypeModel>("carouselSlides");

    string rightArea = currentPage.GetPropertyValue<string>("quickLinks");
}
<div id="bodyContent">




    <!-- top content -->
    <div id="topContent">
        <div id="TopicsTips">
            <!-- right top content -->

            <div id="popularTopics">
                <a name="popular" class="section508">Popular Topics Content</a>
                <h1>Popular Topics</h1>

                @if (defaultPopularTopics != null && defaultPopularTopics.Any())
                {
                    <ul>
                        @foreach (var topic in defaultPopularTopics)
                        {
                            string navLinkUrl = "#";
                            if (topic.HasValue("link"))
                            {
                                Link navLink = topic.GetValue<MultiUrls>("link").FirstOrDefault();

                                navLinkUrl = navLink.Url;
                            }
                            <li>
                                <a href="@navLinkUrl">@Html.Raw(topic.GetValue("label"))</a>
                            </li>
                        }

                        @if (popularTopics != null && popularTopics.Any())
                        {
                            <div id="popularLinksMoreMenu" style="z-index: 1; position: relative">
                                <li>
                                    <a href="#" class="more" title="See more of popular topics">More</a>
                                    <ul>
                                        @foreach (var topic in popularTopics)
                                        {
                                            string navLinkUrl = "#";
                                            if (topic.HasValue("link"))
                                            {
                                                Link navLink = topic.GetValue<MultiUrls>("link").FirstOrDefault();

                                                navLinkUrl = navLink.Url;
                                            }
                                            <li>
                                                <a href="@navLinkUrl">@Html.Raw(topic.GetValue("label"))</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </div>
                        }
                    </ul>
                }

                <a href="top" class="section508">Back to Top of Page</a>
            </div>	<!-- popular topcis -->
            <!-- Stay Connected -->
            <div id="socialmedia">
                <a name="social" class="section508">Social Media Links </a>

                <h2>Stay Connected:</h2>
                @Html.Partial("~/Views/Partials/Modules/SocialLinks.cshtml")

                <!-- sign up email box -->
                <form action="/elists/elists.htm" method="post">
                    <input name="emailAddr" type="text" value="Sign up for ARS News updates"
                           size="28" onfocus="this.value=''" />
                    <input name="listname" type="hidden" value="arsnews" />
                    <input name="action" type="hidden" value="Subscribe" />
                    <input name="commit" type="submit" value="Go" />
                </form>

                <a href="top" class="section508">Back to Top of Page</a>
            </div>	<!-- Stay Connected -->
        </div>	<!-- right top content -->
        <!-- photo carousel -->



        <script type="text/javascript">
            $(document).ready(function () {
                $('#slideshow').cycle(
                    {
                        fx: 'fade',
                        speed: 500, 			// speed of the transition (any valid fx speed value)
                        timeout: 6000,			// milliseconds between slide transitions
                        prev: '#prevPhoto',
                        pause: '#pausePhoto',
                        next: '#nextPhoto',
                        after: onAfter,
                        before: onBefore
                    }
                );

                $('#pausePhoto').click(function () {
                    $('#slideshow').cycle('pause');
                }
                );
            }
            );

            function onBefore(curr, next, opts) {
                var counter = (opts.currSlide + 1) + ' / ' + opts.slideCount;
                $('#carouselCounter').html(counter);



                // get the photo carousel caption from the image ALT tag


                $('#carouselCaption').html(this.children[0].alt);
            }

            function onAfter(curr, next, opts) {
                var counter = (opts.currSlide + 1) + ' / ' + opts.slideCount;
                $('#carouselCounter').html(counter);



            }
        </script>

        <a name="photos" class="section508">Photo Carousel Links</a>

        <!--Loading display while images load-->

        <div id="carousel">
            <!--Slides-->

            <div id="slideshow" style="width:520px;height:320px;float:left;">


                @foreach (var slide in carouselSlides)
                {
                    <a href="@slide.GetValue("slideUrl")" title="@slide.GetValue("slideText")">
                        <img src="@slide.GetValue("slideImage")" class="carouselPhoto" alt="@slide.GetValue("slideAltText")" />
                    </a>
                }

            </div>


            <div id="carouselCaption" style="width:115px;height:240px;float:right;">
                phone caption
            </div>


            <div id="carouselNavigation" style="width:85px;float:right;">
                <a href="#" id="prevPhoto"><img src="/images/redesign/prev.png" alt="back"></a>
                <a href="#" id="pausePhoto"><img src="/images/redesign/pause.png" alt="pause"></a>
                <a href="#" id="nextPhoto"><img src="/images/redesign/next.png" alt="forward"></a>

                <div id="carouselCounter"></div>
            </div>
        </div>


    </div>	<!-- top content end -->
    <!-- middle content -->
    <!--[if lt IE 9]>
        <div style="position: relative; bottom:-33px; z-index:1000;">
            <img src="/images/redesign/rounded-top.png" alt="spacer">
        </div>
    <![endif]-->

    <div id="middleContent">
        <!-- middle left (tabs) -->
        <div id="middleLeft">

            <div id="middleTabs">


                <ul style="border: 0px; margin:-4px;">
                    <li style="border-top-left-radius: 23px; margin:0px; text-align: center; width:98px; height:36px;">
                        <a href="#tab1" style="margin-top: 3px; margin-left: 10px;">Research</a>
                    </li>
                    <li style="margin:0px; width:100px; height:36px;">
                        <a href="#tab2" style="margin-top: 3px; margin-left: 20px;">News</a>
                    </li>
                    <li style="margin:0px; width:100px; height:36px;">
                        <a href="#tab3" style="margin-top: 3px;">Publications</a>
                    </li>
                </ul>

                <div id="tab1">

                    <ul>

                        <li>
                            <a href="/research/projects/projects.htm?accn_no=420971">
                                A Systems Biology Approach to Understanding the Salmonella-Host Interactome in Poultry and Swine
                            </a>
                        </li>

                        <li>
                            <a href="/research/projects/projects.htm?accn_no=422669">
                                Adapting Soil and Water Conservation to Meet the Challenges of a Changing Climate
                            </a>
                        </li>

                        <li>
                            <a href="/research/projects/projects.htm?accn_no=424156">
                                Adaptive Rangeland Management of Livestock Grazing, Disturbance, and Climatic Variation
                            </a>
                        </li>

                        <li class="textAlignRight">
                            <a href="/research/projects_programs.htm?modecode=30-00-00-00">>>>More</a>
                        </li>

                    </ul>

                </div>


                <div id="tab2">

                    <ul>

                        <li class="textAlignRight">
                            <a href="/news/news.htm?modecode=30-00-00-00">>>>More</a>
                        </li>

                    </ul>

                </div>


                <div id="tab3">

                    <ul>

                        <li>
                            <A href="/research/publications/publications.htm?seq_no_115=323543"
                               title="Publication">Comparative analysis of genome-wide divergence, domestication footprints and genome-wide association study of root traits for Gossypium hirsutum and Gossypium barbadense</A>
                        </li>

                        <li>
                            <A href="/research/publications/publications.htm?seq_no_115=321113"
                               title="Publication">Genome wide association study of liver abscess in beef cattle</A>
                        </li>

                        <li>
                            <A href="/research/publications/publications.htm?seq_no_115=306541"
                               title="Publication">Uterine and placental characteristics during early vascular development in the pig from day 22 to 42 of gestation</A>
                        </li>

                        <li class="textAlignRight">
                            <a href="/services/services.htm?modecode=30-00-00-00">>>>More</a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>



        <div id="middleCenter">

            <h2>TODO: Pull data from [aris_public_web] Datbase</h2>
            <!-- _locBlurb start -->


            <font size="2">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" summary="This table displays information about this location">
                    <tbody>
                        <tr>
                            <td>

                                <a href="/pandp/people/people.htm?personid=947" id="anch_81">Chandler, Laurence D</a><br>
                                Area Director<br>

                                <a href="/contactus/feedback.htm?email=7C4EEC9B8609AFD17653B3529AAE8F528761E0E6A480AC18919059" id="anch_82">
                                    larry.chandler@ars.usda.gov
                                </a>

                                <br>

                                970-492-7057<br>
                                USDA-ARS-PA-NRRC, Office of the Director<br>2150 Centre Avenue, Building D, Suite 300<br>Fort Collins CO 80526
                                <p>

                                    <!-- MapQuest info here.  query_string= modecode=30-00-00-00-->

                                </p><p>


                                    <strong>Mission:</strong><br>
                                    The mission of the Plains Area is to conduct research in support of ARS goals to develop and transfer solutions to agricultural problems of high national priority with emphasis on the agricultural and nutritional challenges of stakeholders and agricultural producers.

                                </p><p></p>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- _locBlurb end -->

            </font>

        </div>



        <div id="middleRight">

            @Html.Raw(rightArea)

        </div>

        <!--[if lt IE 9]>
            <div style="position: relative; top: -10px; z-index:1000;" >
                <img src="/images/redesign/rounded-bottom.png" alt="spacer">
            </div>
        <![endif]-->
    </div>
    <!-- middle content end -->
    <!-- bottom content -->
    <!--[if lt IE 9]>


        <div style="position: relative; bottom:-33px; z-index:1000;">
            <img src="/images/redesign/rounded-top.png" alt="spacer">
        </div>
    <![endif]-->
    <div id="bottomContent">
        <a name="areas" href="top" class="section508">Research Areas & Locations Content | Click to go Back to Top</a>

        <div id="tabs">
            <ul>
                <li>
                    <a href="#keyOfficeTab">Key ARS Offices and Locations</a>
                </li>
                <li>
                    <a href="#areaLocationTab">
                        Plains Area Locations

                    </a>
                </li>
            </ul>

            <div id="keyOfficeTab">
                <a name="areas" href="top" class="section508">Research Areas & Locations Content | Click to go Back to Top</a>

                <!-- bottom content left -->
                <div id="bottomContentLeft">
                    @Html.Partial("~/Views/Partials/Modules/MainOfficeList.cshtml")
                </div>


                <!-- bottom content right -->


                <div id="bottomContentRight">
                    @Html.Partial("~/Views/Partials/Modules/ResearchLocationsList.cshtml")
                </div>

            </div>

            <div id="areaLocationTab">
                @Html.Partial("~/Views/Partials/Modules/RegionLocationsList.cshtml", currentPage)
            </div>
        </div>


    </div>
    <!-- bottom content end -->
