@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using USDA_ARS.Umbraco.Extensions.Helpers.Aris
@using USDA_ARS.Umbraco.Extensions.Models.Aris
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;

    List<UsdaProject> projectList = null;
    List<ProjectSubject> projectSubjectList = null;
    List<ProjectInfo> projectInfoList = null;
    List<ProjectInfo> projectInfoListByCountry = null;
    List<ProjectInfo> projectCountryList = null;

    string query = null;
    string type = "all";
    string sliceType = null;
    string soiCodeStr = Request.QueryString["soiCode"];
    string activeSubject = "";
    int soiCode = 0;

    if (false == string.IsNullOrWhiteSpace(soiCodeStr))
    {
        soiCode = Convert.ToInt32(soiCodeStr);

        if (soiCode > 0)
        {
            projectInfoList = Projects.GetProjectsBySubject("", soiCode);
        }
    }

    if (false == string.IsNullOrWhiteSpace(Request.QueryString["q"]))
    {
        query = Request.QueryString.Get("q");
    }
    if (false == string.IsNullOrWhiteSpace(Request.QueryString["type"]))
    {
        type = Request.QueryString.Get("type");
    }
    if (false == string.IsNullOrWhiteSpace(Request.QueryString["slicetype"]))
    {
        sliceType = Request.QueryString.Get("slicetype");

        if (sliceType.ToLower() == "keyword")
        {
            projectSubjectList = Projects.GetProjectSubjects();
        }
        else if (sliceType.ToLower() == "international")
        {
            projectInfoListByCountry = Projects.GetProjectsByCountry();
            projectCountryList = projectInfoListByCountry.DistinctBy(p => p.CountryDescription).ToList();
        }
    }

    if (false == string.IsNullOrWhiteSpace(query))
    {
        projectList = Projects.SearchProjects(query, type);
    }



}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

    @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

    <div id="pageContent">

        @if (true == string.IsNullOrWhiteSpace(sliceType))
        {
            @Html.Raw(currentPage.GetPropertyValue<string>("bodyText"))


            <form action="" method="get">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    <tbody>
                        <tr>
                            <td width="100">
                                <font face="verdana,arial,helvetica" size="-1" color="Navy">

                                    Search for:
                                </font>
                            </td>
                            <td>
                                <input type="text" name="q" value="@(query)">

                            </td>
                        </tr>
                        <tr>
                            <td><font face="verdana,arial,helvetica" size="-1" color="Navy">in:</font></td>
                            <td>
                                <select name="type">
                                    <option value="all" @(type == "all" ? " selected=\"selected\"" : "")>All Fields</option>
                                    <option value="title" @(type == "title" ? " selected=\"selected\"" : "")>Title</option>
                                    <option value="approach" @(type == "approach" ? " selected=\"selected\"" : "")>Approach</option>
                                    <option value="objective" @(type == "objective" ? " selected=\"selected\"" : "")>Objective</option>
                                    <option value="project_number" @(type == "project_number" ? " selected=\"selected\"" : "")>Project Number</option>
                                </select>

                            </td>
                        </tr>

                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" value="Search"></td>
                        </tr>

                    </tbody>
                </table>
            </form>

            if (projectList != null && projectList.Any())
            {
                <table width="100%">
                    <tbody>
                        <tr>
                            <td bgcolor="white" width="100%">
                                <ul>
                                    <font class="hdrBlackBold">
                                        Results:
                                        @(string.Format("{0:n0}", projectList.Count)) research projects found.
                                    </font>
                                    <br />
                                    <br />

                                    @foreach (UsdaProject project in projectList)
                                    {
                                        <li>
                                            <a href="/research/project/?accnNo=@(project.AccountNo)" class="projectNav" id="anch_52">@(project.Title)</a> (@(project.WebLabel))
                                            <br /><br />
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
            else if (false == string.IsNullOrWhiteSpace(query))
            {
                <table width="100%">
                    <tbody>
                        <tr>
                            <td bgcolor="white" width="100%">
                                <ul>
                                    <font class="hdrBlackBold">
                                        Results:
                                        0 research projects found.
                                    </font>
                                    <br />
                                    <br />
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }


            @Html.Raw(currentPage.GetPropertyValue<string>("bodyTextBelow"))

        }
        else if (sliceType.ToLower() == "keyword")
        {
            <table>
                <tbody>
                    <tr>
                        <td valign="top">
                            <font class="hdrBlackBold"><b>Subject of Investigation</b></font>
                            <br />

                            @if (projectSubjectList != null && projectSubjectList.Any())
                            {
                                foreach (ProjectSubject subject in projectSubjectList)
                                {
                                    if (soiCode > 0 && soiCode == subject.SoiCode)
                                    {
                                        activeSubject = subject.LongDescription;
                                        <strong>@subject.LongDescription</strong>
                                    }
                                    else
                                    {
                                        <a href="@(currentPage.Url +"?slicetype=keyword&soiCode=" + subject.SoiCode)" class="projectNav" id="anch_52">
                                            @subject.LongDescription
                                        </a>
                                    }
                                    <br />
                                }
                            }

                        </td>
                        <td valign="top">

                            <font class="hdrBlackBold">
                                <b>@activeSubject</b>
                            </font>
                            <br />

                            @if (projectInfoList != null && projectInfoList.Any())
                            {
                                <table>
                                    <tbody>
                                        @foreach (ProjectInfo projectInfo in projectInfoList)
                                        {
                                            <tr>
                                                <td valign="top"><img src="/images/incme/bullet.gif" border="0" alt="item"></td>
                                                <td valign="top" align="left" background="/images/incme/spacer.gif">
                                                    <font face="verdana,arial" size="-1">
                                                        <a href="/research/project/?accnNo=@(projectInfo.AccountNo)" class="projectNav" id="anch_286">@(projectInfo.ProjectTitle)</a>
                                                        <br />
                                                    </font>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else if (sliceType.ToLower() == "international")
        {
            if (projectCountryList != null && projectCountryList.Any())
            {
                foreach (ProjectInfo country in projectCountryList)
                {
                    <table width="368">
                        <tbody>
                            <tr>
                                <td class="hdrBlackBold"><b>@(country.CountryDescription.ToUpper())</b></td>
                            </tr>
                            @{
                                List<ProjectInfo> filteredProjects = projectInfoListByCountry.Where(p => p.CountryDescription == country.CountryDescription).ToList();

                                if (filteredProjects != null && filteredProjects.Any())
                                {
                                    foreach (ProjectInfo project in filteredProjects)
                                    {
                                        <tr>
                                            <td style="padding-left:20px;"><a href="/research/project/?accnNo=@(project.AccountNo)" class="projectNav" id="anch_52">@(project.ProjectTitle)</a></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:20px;"><img src="/images/content-divider.gif"></td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                }
            }
        }


    </div>
</div>