@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using USDA_ARS.Umbraco.Extensions.Helpers
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
   Layout = "_Master.cshtml";

   IPublishedContent currentPage = Model.Content;
   string modeCode = "";
   List<IPublishedContent> softwareNodeList = new List<IPublishedContent>();
   bool showLocationText = false;
   int softwareCount = 0;
   bool showBadSoftwareId = false;
   
   if (false == string.IsNullOrWhiteSpace(Request.QueryString["modeCode"]))
   {
      modeCode = Request.QueryString.Get("modeCode");
   }
   
   if (false == string.IsNullOrWhiteSpace(Request.QueryString["badid"]) && Request.QueryString.Get("badid") == "1")
   {
       showBadSoftwareId = true;
   }

   if (false == string.IsNullOrEmpty(modeCode))
   {
      IPublishedContent sitePage = USDA_ARS.Umbraco.Extensions.Helpers.Nodes.GetNodeByModeCode(modeCode, false);

      if (sitePage != null)
      {
         softwareNodeList = Software.GetSofwareListByNode(sitePage).ToList();
      }
   }
   else
   {
      showLocationText = true;
      softwareNodeList = Software.GetSoftwareNodes();
   }
}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

   @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

   <div id="pageContent">
      @Html.Partial("~/Views/Partials/Modules/HeaderTitle.cshtml", currentPage)

      @Html.Raw(currentPage.GetPropertyValue<string>("bodyText"))


        @if (true == showBadSoftwareId)
        {
            <p><strong style="color: red">The software id is invalid.</strong></p>
        }


      @if (softwareNodeList != null && softwareNodeList.Any())
      {
         <table cellspacing="2" cellpadding="0" border="0" style="width: 100%">
            <tbody>
               @foreach (var softwareItem in softwareNodeList)
               {
                  string id = "";
                  string title = "";
                  string desc = "";

                  if (softwareItem.HasValue("softwareID"))
                  {
                     id = softwareItem.GetPropertyValue<string>("softwareID");

                     title = softwareItem.Name;

                     if (softwareItem.HasValue("shortBlurb"))
                     {
                        desc = softwareItem.GetPropertyValue<string>("shortBlurb");
                     }
                     <tr>
                        <td valign="top">
                           <h2>@title</h2>

                           @if (true == showLocationText)
                           {
                              <h5>@(Software.GetSoftwareLocation(softwareItem))</h5>
                           }

                           @(Html.Raw(desc))
                        </td>
                     </tr>
                     <tr>
                        <td valign="top">
                           <a href="@(currentPage.Url + "download/?softwareid=" + Server.UrlEncode(id) + "&modecode=" + softwareItem.Parent.Parent.GetPropertyValue<string>("modeCode"))" id="anch_54">Download</a>
                        </td>
                     </tr>
                        <tr>
                           <td>
                              <img src="/images/content-divider.gif">
                              <br /><br />
                           </td>
                        </tr>
                  }
                  else
                  {
                     <tr>
                        <td>
                           @if (softwareItem.HasValue("title"))
                           {
                              <h2>@(softwareItem.GetPropertyValue<string>("title"))</h2>
                           }
                           <em>Software is currently unavailable. Invalid software ID.</em>
                        </td>
                     </tr>
                  }

               }
            </tbody>
         </table>
      }





      <!-- document content end -->


      <br />



      <p></p>


   </div>
</div>