@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
   Layout = "_Master.cshtml";

   IPublishedContent currentPage = Model.Content;

   bool hideHeaderTitle = currentPage.GetPropertyValue<bool>("hidePageTitle");

   string bodyText = currentPage.GetPropertyValue<string>("bodyText");
   string modeCode = "";


   if (Request.QueryString["modeCode"] != null)
   {
      modeCode = Request.QueryString.Get("modeCode");
   }

   string htmlCode = null;

			if (currentPage.HasProperty("htmlCode"))
			{
						if (currentPage.HasValue("htmlCode"))
						{
									htmlCode = currentPage.GetPropertyValue<string>("htmlCode");
						}
			}

   bodyText = USDA_ARS.Umbraco.Extensions.Helpers.BodyTextTags.ReplaceTags(bodyText, modeCode, htmlCode);

   if (currentPage.Url.StartsWith("/oc/"))
   {
      bodyText = USDA_ARS.Umbraco.Extensions.Helpers.BodyTextTags.Modify300DpiDownload(currentPage, bodyText);
   }
}

@Html.Partial("~/Views/Partials/Modules/NavigationLinksSub.cshtml", currentPage)

<div id="fullPage">

   @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)

   <div id="pageContent">

      @if (false == hideHeaderTitle)
      {
         <table border="0" width="100%">
            <tr>
               <td class="pageHeading">@currentPage.Name</td>
            </tr>
            <tr>
               <td>
                  <img src="/images/headline_bar.gif" alt="headline bar" width="100%" />
               </td>
            </tr>
         </table>
      }


      <!-- display URLs of subpages start -->
      @Html.Partial("~/Views/Partials/Modules/PageIndexList.cshtml", currentPage)
      <!--  display URLs of subpages end -->

      <!-- document content start -->

      @Html.Raw(bodyText)

      <!-- document content end -->

      <br />

      <p></p>

      <!-- display Paging of subpages start -->
      @Html.Partial("~/Views/Partials/Modules/PageIndexPaging.cshtml", currentPage)
      <!--  display Paging of subpages end -->
   </div>
</div>