@using Archetype.Extensions
@using Archetype.Models
@using Umbraco.Core.Models
@using RJP.MultiUrlPicker.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Master.cshtml";

    IPublishedContent currentPage = Model.Content;
}



<div id="navigationLinks">
    <div id="breadcrumb">
        You are here:

        <a href="/">ARS Home</a>
        / <a href="@currentPage.Url">@(currentPage.GetPropertyValue<string>("breadcrumbLabel", currentPage.Name))</a>

    </div>

    <div id="navigationStayConnected">
        @Html.Partial("~/Views/Partials/Modules/SocialLinks.cshtml")
    </div>

    <div style="clear:both;">
        <hr />
    </div>

</div>




<div id="fullPage">


    <!--[if lt IE 9]>
        <div class="IErounded-sidetop"
             style="display:block; height:20px; width:250px; position:relative; left:25px; top:5px;">
            <img src="/images/redesign/rounded-sidetop.png" alt="spacing">
        </div>
        <style>#relatedTopics {margin-top:-10px !important; z-index:300 !important;}</style>
    <![endif]-->

    <div id="relatedTopics">

        <h1 class="related_topics">Related Topics</h1>

        <ul>
            @Html.Partial("~/Views/Partials/Modules/RelatedTopicsList.cshtml", currentPage)
        </ul>

    </div>


    <!--[if lt IE 9]>
        <div class="IErounded-sidebot"
                style="display:block; height:20px; width:250px; position:relative; left:25px; top:-12px;">
            <img src="/images/redesign/rounded-sidebottom.png" alt="spacing">
        </div>
    <![endif]-->

    <div id="pageContent">


        <table border="0" width="100%">
            <tr>
                <td class="pageHeading">@currentPage.Name                                                                                                                                                                                               </td>
            </tr>
            <tr>
                <td>

                    <img src="/images/headline_bar.gif" alt="headline bar" width="100%" />
                </td>
            </tr>
        </table>


        <!-- display URLs of subpages start -->
        <!--  display URLs of subpages end -->
        <!-- document content start -->

        @Html.Raw(currentPage.GetPropertyValue<string>("bodyText"))

        <!-- document content end -->


        <br>



        <P>


    </div>
