@model USDA_ARS.Umbraco.Extensions.Models.EmailSignup
@{

}
<table width="90%" cellpadding="0" cellspacing="0" align="CENTER">
			<tbody>
						<tr>
									<td>
												@using (Html.BeginUmbracoForm<USDA_ARS.Umbraco.Controllers.SubscribeFormSurfaceController>("HandleFormSubmit"))
            {
															<p>
																		Please enter your e-mail address:<br />
																		@Html.TextBoxFor(p => p.Email, new { @placeholder = "", @style = "width: 245px" }) &nbsp;
																		@Html.ValidationMessageFor(p => p.Email)
															</p>
															<p>
																		@Html.RadioButton("Action", "Subscribe", new { @checked = "checked" }) <strong>Subscribe</strong>
															</p>
															<p>
																		@Html.RadioButton("Action", "Unsubscribe") <strong>Unsubscribe</strong>
															</p>
															<p>
																		@Html.HiddenFor(p => p.ListName)
																		@Html.HiddenFor(p => p.UmbracoId)
																		<input type="submit" value="Submit">
															</p>
												}
									</td>
						</tr>
			</tbody>
</table>

