@model USDA_ARS.Umbraco.Extensions.Models.EmailSignup
@{

}
<table width="80%" cellpadding="0" cellspacing="0" align="CENTER">
    <tbody>
        <tr>
            <td>
                @using (Html.BeginUmbracoForm<USDA_ARS.Umbraco.Controllers.SubscribeFormSurfaceController>("HandleFormSubmit"))
                {
                    <p>
                        @Html.ValidationMessageFor(p => p.ListName)
                        <br />
                        @Html.RadioButton("ListName", "arsnews")
                        <b>News Service:</b> Complete news stories on recent research discoveries. <br /><br />
                        @Html.RadioButton("ListName", "newslink")
                        <b>Newslink:</b> Weekly summary of web links to each of the week's stories; typically issued on Friday.
                    </p>
                    <p align="center">
                        Please carefully enter
                        your e-mail address:<br />
                        @Html.ValidationMessageFor(p => p.Email)
                        <br />
                        @Html.TextBoxFor(p => p.Email, new { @placeholder = "Sign up for ARS News updates", @style = "width: 245px" })
                        <br />
                        @Html.RadioButton("Action", "Subscribe", new { @checked = "checked" })
                        Subscribe&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.RadioButton("Action", "Unsubscribe")
                        Unsubscribe<br />
                    </p>
                    <p align="center">
                        @Html.HiddenFor(p => p.UmbracoId)
                        <input type="submit" value="Submit">
                    </p>
    }
            </td>
        </tr>
    </tbody>
</table>

